In [5]:
#comentario de uma linha 

"""
comentario de paragrafo
"""

print ("Hello world")

Hello world

In [6]:
inteiro = 42
print (inteiro)
print ("inteiro: ", inteiro)

flutuante = 42.3
print ("flutuante: ", flutuante)

#junção de inteiro mais um abstrato
complexo = 3 + 4j
print ("Complexo: ", complexo)

#tipo string
texto = "Hello World"
print ("Texto: ", texto)

#uma lista é mutavel
lista = [1, 2, 3]
print ("lista: ", lista)

#uma tupla não é mutavel
tupla = (1, 2, 3, 4, 5)
print ("tupla: ", tupla)

#conjunto são os itens únicos que são: não ordenados e não se repetem 
conjunto = {1, 2, 3, 2}
print ("Conjunto: ", conjunto)

#dicionarios umas coleção não ordenada de pares chave-valor
dicionario = {"chave": "valor" }
print ("dicionario: ", dicionario)

boolean = True
print ("boleano: ",boolean)

nenhum = None
print ("None type: ", nenhum)

42
inteiro:  42
flutuante:  42.3
Complexo:  (3+4j)
Texto:  Hello World
lista:  [1, 2, 3]
tupla:  (1, 2, 3, 4, 5)
Conjunto:  {1, 2, 3}
dicionario:  {'chave': 'valor'}
boleano:  True
None type:  None

In [ ]:
#variaveis 

idade = 30
nome = "Luis"

print("Nome: ", nome)
print("Idade: ", idade)
print("Nome: ",nome,"," + "Idade: ", idade)

Nome:  Luis
Idade:  30
Nome:  Luis ,Idade:  30

In [18]:
#para saber o tipo da váriavel se utiliza o type() no print 
nome = "Luis"
idade = 31

print(type(nome))
print(type(idade))

<class 'str'>
<class 'int'>

In [ ]:
#cada variavel segue em cadeia 
var1, var2, var3 = "luis", "henrique", "balbino"
print(var1)
print(var2)
print(var3)

luis
henrique
balbino

In [2]:
#da pra atribuir um valor para todas as variaveis utilizando o =
var1 = var2 = var3 = var4 = "Luis"
print(var1)
print(var2)
print(var3)
print(var4)

Luis
Luis
Luis
Luis

In [2]:
exemplo = "Texto 1", "Texto 2", "Texto 3", "Texto 4",
var1, var2, var3, var4 = exemplo
print(var1)
print(var2)
print(var3)
print(var4)

Texto 1
Texto 2
Texto 3
Texto 4

In [6]:
nome = "luis"
print("the name he is:", nome)

the name he is: luis

In [9]:
nome = input("digite seu nome")
print("seu nome é:", nome)

seu nome é:

In [12]:
nome = input("digite seu nome")
nota1 = float(input("Digite a nota 1"))
nota2 = float(input("Digite a nota 2"))

media = (nota1 + nota2) / 2

print("Seu nome é:", nome)
print("Sua média é:", media)

ValueError: could not convert string to float: ''